/* styles.css */
@media (min-width: 900px) { /* For desktops and larger screens */
    .container {
        max-width: 100%; /* Adjust based on preference */
    }
    .main-content {
        margin-top: 1rem;
        margin-left: 2vw;

    }
    .exhibition-image img {
        width: 80%;
        height: auto;
    }
    
}

@media only screen and (min-width : 992px) {
    .container, .container-xl { /* Increase max screen width for large containers */
        max-width: 100%;

    }
    .container.container-narrow {
        max-width: 90%;
        padding: 1rem;
    }
}


@media (max-width: 768px) {
    .card-img-top {
        height: auto;
    }
    .navbar .container-fluid {
        justify-content: center; /* Center everything in navbar */
        padding-top:0;
    }

}

@media(max-width: 991px) {
    .navbar .container-fluid .navbar-brand img{
        padding-bottom:18px !important;
        height:"90" !important;
    }


    .navbar .container-fluid {
        justify-content: center; /* Center everything in navbar */
        padding-top:0;
    }
}



.btn-icon-only {
    border-left: none !important;
    background: transparent;
}

.input-group .btn-outline-secondary {
    border-color: #ced4da; /* Match Bootstrap's default input border color */
    background-color: white;
    color: rgb(9, 9, 78); /* Adjust the text (icon) color */
}

.navbar-dark .input-group .btn-outline-secondary {
    border-color: #ced4da; /* Match Bootstrap's default input border color */
    background-color: white;
    color: rgb(9, 9, 78) !important; /* Adjust the text (icon) color */
}
#index-navbar .navbar .navbar-toggler-icon{
    color: rgb(9, 9, 78);
}
.input-group .btn {
    border-radius: 0; /* Optional: Adjust this to match your design preference */
}

.input-group .btn:hover{
    border-radius: 0; /* Optional: Adjust this to match your design preference */
    background-color: white;
    border-color: #ced4da;
    border-left: none !important;


}
/* Additional style for icon color if not set inline */
.fa-search {
    color: rgb(3, 3, 97);
}


.highlight {
    background-color: rgb(255, 221, 0);
}
.mark, mark {
    padding:0 !important;
}

.f-model-instance-list{
    font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
    margin-top: 4px;
    display: block;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: .01em;

}

.intro-block_text {
    color: #949494;
    font-family: Sabon, Times New Roman, Times, Georgia, serif;
    font-size: 22px;
    line-height: 28px;
    
}


.label {
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    font-weight: 500; /* Makes the label text bold */
    color: #333; /* Dark color for contrast and readability */
    margin-right: 5px; /* Adds some space between the label and its value */
    display: inline-block; /* Keeps label and value on the same line */
    vertical-align: top; /* Aligns the label with the top of multi-line or adjacent elements */
}
.value, .value ul {
    list-style-type: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default padding */
    margin-left: 20px; /* Indent content to align with the rest of the .value content */
}

.value li {
    margin-bottom: 5px; /* Space out list items */
    margin-left: 135px; /* Indent content to align with the rest of the .value content */

}

.value a {
    text-decoration: none; /* Optional: Removes underline from links */
    color: #2f69c1; /* Optional: Sets link color */
    margin-left: 20px; /* Indent content to align with the rest of the .value content */

}
.list-group-item {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: flex-start;
    flex-direction: column; /* Stack label and value vertically */
  }
  
  .list-group-item .label {
    flex-basis: 20%; /* Adjust this value based on your layout */
    flex-grow: 1;
    min-width: 150px; /* Ensures that the label has enough space */
  }
  
  .list-group-item .value {
    flex-grow: 3; /* Allows the value to take up the remaining space */
  }

.offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * 1) calc(var(--bs-offcanvas-padding-x) * 1);
    margin-top: -0.5rem;
    margin-right: -6.5rem;
    margin-bottom: -0.5rem;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #282a46e2;
}

.offcanvas-body .nav-link, .offcanvas-header .offcanvas-title{
    font-size: 18px;
    font-family:"Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 40px 30px 2px;
    letter-spacing: .015em;
    line-height: 24px;


}
.header-block {
    margin-top: 1rem;
    position: relative;
    padding-bottom: 10px;
    padding-top: 20px;
}
.header-block::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: #d1d0d0;
    
}


.offcanvas.show {
    --bs-offcanvas-padding-x: 3rem;
    --bs-offcanvas-padding-y: 1.5rem;
    background-color: rgba(255, 255, 255, 0.896);
    backdrop-filter: blur(10px) !important;
}
.offcanvas.show .nav-link, .offcanvas.show .offcanvas-title{
    color:rgb(10, 13, 47) !important;
    font-size: 25px;
    font-weight: 750;
}
.navbar.navbar-scrolled{
    background-color: rgb(255, 255, 255) !important; /* Adjust the color and transparency */
    background:rgba(255, 255, 255, 0.929) !important;
    border: 0.7px solid #ddd;
    border-bottom-color: #50558ebd;
    height: 90px; /* Or any height */
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 0rem 1rem;
    
}
.navbar-scrolled .nav-link {
    color: rgb(10, 13, 47) !important;
}

.navbar.navbar-scrolled .nav-link.active{
    color:rgba(11, 8, 110, 0.9) !important;
}
.navbar {
    height: 90px; /* Or any height */
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 0rem 1rem !important;
    background: rgb(255, 255, 255) 100%;
    border: 0.7px solid #ddd;
    border-bottom-color: #50558ebd ;
    color: rgb(10, 13, 47) !important;
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
}

#index-navbar.navbar.navbar-dark, #index-navbar.navbar-link{
    backdrop-filter:none !important;
    border:none !important;

}

#index-navbar .navbar .navbar-scrolled{
    border: 0.7px solid #ddd;
    border-bottom-color: #50558ebd;
    
}

.navbar-gradient {
    background: linear-gradient(0deg, rgba(37, 64, 198, 0) 0%, rgb(0, 0, 0) 100%);
}

.navbar-nav .active {
    text-decoration: underline;

}

.nav-link {
    color: rgb(10, 13, 47);
    display: block;
    align-items: center; /* Vertically center the content */
    padding: 10px 20px; /* Adjust as necessary */
    font-size: 16px;

}


.navbar-light .navbar-nav .nav-link.active {
    color:rgba(11, 8, 110, 0.9) !important;
}


.navbar-brand {
    font-size: 26px !important;
    font-weight: 300 !important;
    letter-spacing: .05em;
    font-family:"Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    padding-top: 40px !important;
    line-height: 24px;
    margin-left:3.5rem;
}

.navbar.fade-out, #index-navbar .navbar .navbar-scrolled.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.navbar.fade-in, #index-navbar .navbar .navbar-scrolled.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
  }


.offcanvas-backdrop.show{
    opacity: 0.7;
    background-color: #141d3af0;
}

.container, .container-fluid {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-right: auto;
}
.main-content {
    padding-top: 2rem;
    margin-top: 1rem;
    margin-right:2rem;
    padding: 20px 70px;
    min-width: 520px; /* Set the minimum width you desire */



}

.f-headline-editorial {
    font-family: Sabon,Times New Roman,Times,Georgia,serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .07em;
    font-size: clamp(1.5rem, 2.5vw, 3rem); /* Adjusts between 1.5rem and 3rem */

}

.f-model-landing{
    font-family:"Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.text-white {
    color: #fff!important
    
}

.text-dark {
    color: rgb(10, 13, 47);
}

.mt-0,.my-0 {
    margin-top: 0!important
}

.mr-0,.mx-0 {
    margin-right: 0!important
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    min-width: 520px; /* Set the minimum width you desire */    
    overflow-x: hidden;
    background: #fff;
    color: #252346;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;   
    font-size: 120%;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: auto
}

body::after {
    position: absolute;
    left: -1px;
    top: 2px;
    width: 1px;
    height: 2px;
    margin-top: 2px;
    margin-left: -1px;
    color: transparent;
    font: 0/0 a;
    text-shadow: none
}

.e-date {
    font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: #dadada;
}

.font-link.active {
    text-decoration: underline;
    text-underline-offset: 0.2em; 
}

.nav-tabs{
    margin: 10px; 
}

.nav-tabs:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}

.nav-tabs.active {
    background-color: #172f55; /* Dark blue background for active tab */
    color: white; /* White text for active tab */

}

.nav-tabs .font-link.active {
    outline: 1px solid #cccccc; /* Solid light gray outline */
    outline-offset: 12px; /* Adjust as needed */
    text-decoration: underline;
    text-underline-offset: 0.2em;     
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    
}

.nav-tabs>li {  
    margin-bottom: -1px; 
    margin: 10px 0px 10px;
    visibility: visible;
    
    
}
.nav>li {
    margin: 10px 30px 12px;
    visibility: visible;
    position: relative;
    display: block;
}
.nav-tabs>li>a {
    margin-right: 1px;
    line-height: 0.3;
    border: 2px solid transparent;
    border-radius: 2px 2px 0 0;
    margin: 10px; 
}
.nav>li>a {
    position: relative;
    display: block;
    flex-grow: 1 0 0 !important; 
    text-align: center;
    padding: 2rem 2rem; /* Increase padding for larger tabs */
    cursor: pointer;
    background-color: white; /* White background for inactive tabs */
    color: black; /* Black text for inactive tabs */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover and active states */
    font-size: 18px; /* Larger font size for better readability */
    border: 1px solid #dee2e6; /* Optional: adds a border around each tab for clarity */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    width:200px;
}


.tab-content p {
    margin-top:45px;
}

.tab-pane {
    
    margin-top:45px;
}


/*** CUSTOM JUMBOTRON ***/
.jumbotron-full {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
    height: auto;
    min-height: 79.8958px;

}
.jumbotron-narrow {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
.jumbotron-full-image {
	background-size: cover;
	background-position: center;
}
.jumbotron-content {
	text-align: left;
	z-index: 3;
	position: relative;
	margin-bottom: 1.3rem;
}
.jumbotron-title-bottom .jumbotron-content {
	bottom: 0; 
	left: 0; 
	right: 0; 
    height: auto;
    background: linear-gradient(180deg, rgba(25,57,216,0) 0%, rgba(0,0,0,0.75) 100%);
	position: absolute; 
	text-align: left; 
	padding: 0.4rem 0 2rem 0;
	margin-bottom: 0;
}
.jumbotron-title-bottom-blue .jumbotron-content {
	background: rgba(79, 88, 117, 0.56); 
}
#content .jumbotron-full .jumbotron-content h1, 
#content .jumbotron-full .jumbotron-content h2 {
	margin: 0;
}
.jumbotron-full .jumbotron-content h1, 
.jumbotron-full .jumbotron-content h2 {
	max-width: 38ch;
}
.jumbotron-full .jumbotron-content p {
	max-width: 60ch;
	margin-bottom: 0;
	margin-top: .75rem;
}
.jumbotron-content-center .jumbotron-content h1, 
.jumbotron-content-center .jumbotron-content h2 {
	max-width: initial;
}
.jumbotron-content-center .jumbotron-content p {
	max-width: initial;
}

  
.c-item {
    height: 675px;
}
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
 
}

.carousel-item {
    height: 50vh; /* Make the carousel full viewport height */
    min-height: 300px; /* Minimum height to ensure usability on small devices */
    background: no-repeat center center scroll; /* Center the image */
    -webkit-background-size: cover; /* Ensure coverage and no stretching */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: transform 0.6s ease-in-out; /* Adjust the duration as needed */
    background-color: #000;

}
.carousel-images {
    display: flex;
    overflow: hidden;
    background-color: #000;

}
.carousel-image {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    background-color: #000;


}


.carousel-inner img {
    width: 100%; /* or width: 100% !important; */

}

.carousel-control-prev, .carousel-control-next {
    font-size: 1rem;
    color: #333;    
    background: none;
    border: none;
    background-color: rgba(38, 38, 38, 0.208);
    cursor: pointer;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;

}


.sorting-links a {
    text-decoration: none;
}

.sorting-links a:hover {
    text-decoration: underline;
}


.card-grid{
    display: flex;
    flex-direction: row;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 128px;
    padding-top: .02px;
    padding-bottom: .02px;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adds a subtle shadow to make the card "pop" */
    transition: transform 0.2s; /* Animation for when the card is hovered */

}

.card-title {
    font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    letter-spacing: -.005em;
    color: #1a1a1a;
    margin-bottom: 0.75rem;
    
}
.card-title_small{
    font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
    font-size: 1em;
    letter-spacing: -.005em;
    color: #1a1a1a;
    margin-bottom: 0.75rem;
    
}
.card-text {
    flex-grow: 1;
    font-size: 0.9em;
}

.card-link{
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: .01em;
    -webkit-font-feature-settings: "lnum" on;
    font-feature-settings: "lnum" on;
    color: #1d1d48;

}
.card:hover {
    transform: scale(1.05);
}

.card-link {
    color: #162795;
    text-decoration: none; 
}

.card-link:hover {
    text-decoration: underline !important;
}

.date , .f-secondary{
    color: #5f5f5f
}

.font-link {
    font-family:"Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: .01em;
    -webkit-font-feature-settings: "lnum" on;
    font-feature-settings: "lnum" on;
    color: #7e746d
}

.pagination {
    justify-content: center; 

}

.pagination .page-link {
    font-family: Helvetica,Arial,sans-serif;
    color: #211e4c; 
}

.pagination .page-item.active .page-link {
    font-family: Helvetica,Arial,sans-serif;
    background-color: transparent; 
    border-color: transparent;
    color: #25273d;
    text-decoration: underline;
    text-underline-offset: 0.2em; 
}

.pagination .page-link:hover {
    background-color: #A9A9A9; 
    color: #25273d; 
}

.page-link {
    font-family: Helvetica,Arial,sans-serif;
    color: #2e2e3e; 
    background-color: #343758;
}

.page-item .page-link {
    font-family: Helvetica,Arial,sans-serif;
}
.page-item.active .page-link {
    font-family: Helvetica,Arial,sans-serif;
}
.page-item {
    font-family: Helvetica,Arial,sans-serif;
    border-color: #7a7a94;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-image {
    width: 100%;
    height: 34%;
    object-fit: cover;
}