<!DOCTYPE html>
<html lang="en">
<head>
    <title>About | Artology</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .card-link:hover .card {
          filter: brightness(90%);
      }
    </style>
</head>

<body>
  {% include 'navbar.html' %}
<!-- About Page -->
<div role="main" class="container">
    <h1 class="text-center mb-4 f-headline-editorial text-uppercase fs-1 mt-5" style="padding-top: 3rem;">About</h1>
    
    <!-- Team Members (Row of 3) -->
    <h5 class="text-center header-block f-secondary text-uppercase">Meet the Artology Team</h5>
    <hr><hr>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 border-0 shadow">
          <img src="../static/images/Dao.jpg" class="card-img-top about-image" alt="Dao Picture">
          <div class="card-body">
            <h5 class="card-title"><b>Dao A. Ton-Nu</b></h5>
            <p class="card-text"><b>Bio:</b> 
                                      I'm a Senior at UT Austin graduating May, 2024 with a B.S. in Aerospace Engineering, 
                                      Space Flight with certificates in Computational Science & Engineering and in Elements of Computing. 
                                      Currently, I am researching distributed collaborative beamforming using stochastic optimization in the 
                                      Radionavigation Laboratory and researching the usage of EKFs for GPS-denied state estimation 
                                      in the Drone Estimation Lab for my capstone.</p>
            <p class="card-text"><b>Major Responsibilities:</b>
                                      Artist pages / Instance linking / Dynamic Contributor Statistics</p>
            <p class="card-text"><b>No. of Commits:</b> <span id="DaoCommits">Loading...</span> </p>
            <p class="card-text"><b>No. of Issues:</b> <span id="DaoIssues">Loading...</p></p>
            <p class="card-text"><b>No. of Unit Tests:</b> X</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 border-0 shadow">
          <img src="../static/images/emily.jpg" class="about-image card-img-top" alt="Emily Picture">
          <div class="card-body">
            <h5 class="card-title"><b>Emily Zhou</b></h5>
            <p class="card-text"><b>Bio:</b>
                                    I'm a Junior at The University of Texas at Austin graduating Fall 2024, 
                                    majoring in Mathematics with certificates in Computer Science and Applied Statistical Modeling.

                                    I enjoy working with big data, creating visualizations and doing analyses. 
                                    I'm experienced in SQL, Python, R, and Excel, and would love to further explore Cloud-based technologies. </p>
            <p class="card-text"><b>Major Responsibilities:</b>
                                    Exhibition pages / Instance linking / API Implementation / Searching & Sorting / Formatting & Styling</p>
            <p class="card-text"><b>No. of Commits:</b> <span id="EmilyCommits">Loading...</span> </p>
            <p class="card-text"><b>No. of Issues:</b> <span id="EmilyIssues">Loading...</p></p>
            <p class="card-text"><b>No. of Unit Tests:</b> X</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 border-0 shadow">
          <img src="../static/images/johnny.jpg" class="card-img-top about-image" alt="Johnny Picture">
          <div class="card-body">
            <h5 class="card-title"><b>Johnny Henriquez</b></h5>
            <p class="card-text"><b>Bio:</b>
                                   I'm a senior at the University of Texas majoring in Radio-Television-Film with a 
                                   minor in Business and certificate in Elements of Computing.
                                   I enjoy working in web development and data analytics within tech, and also like
                                   working in the social media world. My career goal consists of either working in marketing, 
                                   data analytics, or social media. In the end, I hope I can break into the sports industry and work with the NFL.
                                   Hobbies: watching sports, working out and creating content.</p>
            <p class="card-text"><b>Major Responsibilities:</b>
                                   About Page / Formatting & Styling / Unit tests / Postman Tests</p>
            <p class="card-text"><b>No. of Commits:</b> <span id="JohnnyCommits">Loading...</span> </p>
            <p class="card-text"><b>No. of Issues:</b> <span id="JohnnyIssues">Loading...</p></p>
            <p class="card-text"><b>No. of Unit Tests:</b> 9</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Members (Row of 2) -->
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-0 shadow">
            <img src="../static/images/alex.jpg" class="card-img-top about-image" alt="Alex Picture">
            <div class="card-body">
              <h5 class="card-title"><b>Alexander Valdez</b></h5>
              <p class="card-text"><b>Bio:</b>
                                      I'm a senior majoring in Biochemistry with plans to pursue a career in software engineering 
                                      using the skills I've developed from completing the Elements of Computing Certificate.</p>
              <p class="card-text"><b>Major Responsibilities:</b>
                                    Artwork pages / Instance linking / Formatting & Styling</p>
              <p class="card-text"><b>No. of Commits:</b> <span id="AlexCommits">Loading...</span> </p>
              <p class="card-text"><b>No. of Issues:</b> <span id="AlexIssues">Loading...</p></p>
              <p class="card-text"><b>No. of Unit Tests:</b> X</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-0 shadow">
            <img src="../static/images/Faiz.jpeg" class="card-img-top about-image" alt="Faiz Picture">
            <div class="card-body">
              <h5 class="card-title"><b>Faiz Shakoor</b></h5>
              <p class="card-text"><b>Bio:</b>
                                      I'm a fourth-year neuroscience major pursuing the elements of computing certificate. 
                                      I like to work out, train jiu-jitsu, and play basketball with my friends. 
                                      Want to pursue project management or software engineering as a career.</p>
              <p class="card-text"><b>Major Responsibilities:</b>
                                      Splash Page / Navbar / Formatting & Styling</p>
              <p class="card-text"><b>No. of Commits:</b> <span id="FaizCommits">Loading...</span> </p>
              <p class="card-text"><b>No. of Issues:</b> <span id="FaizIssues">Loading...</p></p>
              <p class="card-text"><b>No. of Unit Tests:</b> X</p>
            </div>
          </div>
        </div>
      </div>

    <!-- Presentation Link -->
    <h2 class="mt-5 mb-3">SpeakDeck Presentation</h2>
    <hr>
    <div class = "row">
      <div class="col-lg-12 mb-3">
        <div class="card border-0 shadow text-center p-4">
          <a href = https://speakerdeck.com/daoton2/artology-group-13-presentation>
            <h5 class="card-title mt-3">Artology (Group 13) Presentation</h5>
          </a>
        </div>
      </div>
    </div>
      
    <!-- Stats -->
    <h2 class="mt-5 mb-3">Stats</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow text-center p-4">
          <h5 class="card-title mb-3">Total No. of Commits</h5>
          <p class="card-text"><span id="totalCommits">Loading...</span></p>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow text-center p-4">
          <h5 class="card-title mb-3">Total No. of Issues</h5>
          <p class="card-text"><span id="totalIssues">Loading...</p>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow text-center p-4">
          <h5 class="card-title mb-3">Total No. of Unit Tests</h5>
          <p class="card-text">9</p>
          <a href="../static/images/unittests.png">Test Run Confirmation</a>
        </div>
      </div>
    </div>
    
    <!-- Stats Links -->
    <div class="row ">
      <div class="col-lg-3 mb-4">
        <a href="https://documenter.getpostman.com/view/33372514/2sA35D74oj" class="text-decoration-none card-link">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title mt-3">Postman API</h5>
            </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a href="https://gitlab.com/daoton/cs331e-idb/-/issues" class="text-decoration-none card-link">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title mt-3">GitLab Issue Tracker</h5>
            </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a href="https://gitlab.com/daoton/cs331e-idb" class="text-decoration-none card-link">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title mt-3">GitLab Repo</h5>
            </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://gitlab.com/daoton/cs331e-idb/-/wikis/Title" class="text-decoration-none card-link">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title mt-3">GitLab Wiki</h5>
            </div>
        </a>
      </div>
    </div>
    
    <!-- Data -->
    <h2 class="mt-5 mb-3">Data</h2>
    <hr>
    <div class="row ">
        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title"> <a>Artology</a> </h5>
                <h6 class="card-title"> <a href="https://documenter.getpostman.com/view/33372514/2sA35D74oj" class="text-decoration-none">Postman Collection 1</a> </h6>
                <p class="card-text">Description: <br>Artology's local API</p>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h5 class="card-title"> <a>Art Institute of Chicago</a> </h5>
                <h6 class="card-title"> <a href="https://api.artic.edu/" class="text-decoration-none">Postman Collection 2</a> </h6>
                <p class="card-text">Description: <br>Original data source</p>
            </div>
        </div>
    </div>
    
    <!-- Tools -->
    <h2 class="mt-5 mb-3">Tools</h2>
    <hr>
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-2">
              <h5 class="card-title mt-2"><b>Flask</b></h5>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-2">
                <h5 class="card-title mt-2"><b>Python</b></h5>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-2">
                <h5 class="card-title mt-2"><b>HTML</b></h5>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card border-0 shadow text-center p-2">
                <h5 class="card-title mt-2"><b>Bootstrap</b></h5>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow text-center p-2">
              <h5 class="card-title mt-2"><b>PostgreSQL</b></h5>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow text-center p-2">
                <h5 class="card-title mt-2"><b>SQLAlchemy</b></h5>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow text-center p-2">
              <h5 class="card-title mt-2"><b>Postman</b></h5>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card border-0 shadow text-center p-2">
              <h5 class="card-title mt-2"><b>GCP</b></h5>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card border-0 shadow text-center p-2">
                <h5 class="card-title mt-2"><b>GitLab</b></h5>
            </div>
        </div>
      </div>
  </div>

  




<footer class="container mt-4">
    <p class="text-center">&copy; 2024 Artology</p>
</footer>

<script>
//COMMITS
fetchStatGL("DaoCommits", "repository/commits/?author=Dao&per_page=200", true);
fetchStatGL("EmilyCommits", "repository/commits/?author=Emily&per_page=200", true);
fetchStatGL("JohnnyCommits", "repository/commits/?author=Johnny&per_page=200", true);
fetchStatGL("AlexCommits", "repository/commits/?author=Alex&per_page=200", true);
fetchStatGL("FaizCommits", "repository/commits/?author=Faiz&per_page=200", true);
fetchStatGL("totalCommits", "repository/commits/?per_page=500",true);

//ISSUES
fetchStatGL("totalIssues", "issues?per_page=500", false);
fetchStatGL("DaoIssues", "issues?assignee_username=daoton&per_page=200", false);
fetchStatGL("EmilyIssues", "issues?assignee_username=emilyzh&per_page=200", false);
fetchStatGL("JohnnyIssues", "issues?assignee_username=Nriquez&per_page=200", false);
fetchStatGL("AlexIssues", "issues?assignee_username=XanderV20&per_page=200", false);
fetchStatGL("FaizIssues", "issues?assignee_username=fshak&per_page=200", false);


function fetchStatGL(idName, endQuery, findingCommits){
  // Return a promise
  return new Promise((resolve, reject) => {
    // Fetch the commit count
    fetch('https://gitlab.com/api/v4/projects/54360506/'.concat(endQuery))
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(stats => {
      let statNum = 0;
      if (findingCommits){
        for (i=0; i<stats.length; i++){
          const message = stats[i]['message'];
          if (!message.includes("See merge request")){
            statNum++;
          }
        }
      }else{
        statNum = stats.length;
      }
        document.getElementById(idName).innerText = `${statNum}`;

        resolve(statNum);
    })
    .catch(error => {
        console.error('Error fetching commits:', error);
        document.getElementById(idName).innerText = `Error fetching commits: ${error.message}`;
        reject(error);
    });
  });
}
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        var lastScrollTop = 0;
        var navbar = $('.navbar'); 
        
        $(window).on('scroll', function() {
            var currentScroll = $(this).scrollTop();
        
            // Scroll Down
            if (currentScroll > lastScrollTop && currentScroll > 70) {
            navbar.addClass('fade-out').removeClass('fade-in');
            } 
            // Scroll Up
            else if (currentScroll > 100){
            navbar.addClass('fade-in').removeClass('fade-out');
            }
        
            // Change navbar opacity on scroll
            if (currentScroll > 120) {
            navbar.addClass('navbar-scrolled');
            } else {
            navbar.removeClass('navbar-scrolled');
            }
        
            lastScrollTop = currentScroll;
        });
    });
</script>
</body>
</body>
</html>
