<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exhibitions | Artology</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

<body>
  {% include 'navbar.html' %}

<main role="main" class="main-content">
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <h2 class="f-model-landing mt-5">Exhibitions</h2>
      </div>
      <!-- Search Form -->
      <div>
        <div class="header-block"></div>
        <form action="{{ url_for('showExhibitions') }}" method="get" class="form-inline">
          <input name="query" type="search" class="form-control me-2" placeholder="Search Exhibitions" aria-label="Search" value="{{ request.args.get('query', '') }}">
          <input type="hidden" name="sort_by" value="{{ sort_by }}">
          <input type="hidden" name="order" value="{{ order }}">
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </form><br>
        
      </div>
    
      <div class="d-flex align-items-center ">
        <div class="sort-controls me-3 ">
          <span>Sort by:&nbsp; </span>
          <a class="font-link {% if sort_by == 'title' %}active{% endif %}" href="?query={{ query }}&sort_by=title&order={{ order }}&page=1">Title</a> &nbsp; | &nbsp; 
          <a class="font-link {% if sort_by == 'aic_start_at' %}active{% endif %}" href="?query={{ query }}&sort_by=aic_start_at&order={{ order }}&page=1">Date</a>
        </div>
        <!-- Order By Dropdown -->
        <div class="col">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="orderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Order: {{ order|capitalize }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="orderDropdown">
                  <li><a class="dropdown-item" href="?query={{ query }}&sort_by={{ sort_by }}&order=asc&page={{ page }}">Ascending</a></li>
                  <li><a class="dropdown-item" href="?query={{ query }}&sort_by={{ sort_by }}&order=desc&page={{ page }}">Descending</a></li>
              </ul>
          </div>
        </div>
      </div><br>
      <a>{{ totNum }} Results Found</a>
      <br><br>
        <div class="card-grid row">
            {% for exhibition in exhibitions %}
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('oneExhibition', exhibition_id=exhibition.id) }}" class="card">
                    <img src="{{ exhibition.image_url}}" class="card-img-top" alt="{{ exhibition.title }}">
                    <div class="card-body">

                      {% if query %}
                      <span class = "card-text text-black">{{ exhibition.searchable_text() | highlight(query) | safe }}
                      </span>
                      <br>
                      <br>
                      {% endif %}

                      <h5 class="card-title">{{ exhibition.title }}</h5>
                      <p class="card-text text-black">
                        {% if exhibition.aic_start_at %}
                        {{ exhibition.aic_start_at.strftime('%B %d, %Y') }} – 
                        {% endif %}
                        {% if exhibition.aic_end_at and exhibition.aic_end_at <= now %}
                          {{ exhibition.aic_end_at.strftime('%B %d, %Y') }}
                        {% else %}
                          Current
                        {% endif %}
                      </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
      <!-- Pagination -->
      {% include 'pagination.html' %}
    </div>
    <br><br>
    <div class="row mt-4">
        
        <h2>Visit Us</h2>
        <p class="header-block">Information on hours, tickets, and directions.</p>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.6170740429097!2d-87.62821941114505!3d41.879584500000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca3e2d94695%3A0x4829f3cc9ca2d0de!2sThe%20Art%20Institute%20of%20Chicago!5e0!3m2!1sen!2sus!4v1712704855042!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        
      </div>
      <div  class="row mt-4">
        <video controls autoplay muted loop>
          <source src="https://aic-web-cms-uploads.s3.us-east-2.amazonaws.com/nullc9b4d27f-8153-4f3a-ab7f-70f58c3fd6c0/VisitUs_VideoHeader_20_07_151.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
</div>
<div class="row mt-4">
 <div class="header-block"><br>
     <h3 class="f-headline-editorial" style="padding-left: 1rem;">Connect With Us</h3><br>
     <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
         <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/artinstitutechi/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:400px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/artinstitutechi/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:30px; margin:0 auto 12px; width:30px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this profile on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/artinstitutechi/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">The Art Institute of Chicago</a> (@<a href="https://www.instagram.com/artinstitutechi/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">artinstitutechi</a>) • Instagram photos and videos</p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
         <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fartic&tabs=timeline&width=400&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
         <a class="twitter-timeline" data-width="400" data-height="400" data-theme="light" href="https://twitter.com/artinstitutechi?ref_src=twsrc%5Etfw">Tweets by artinstitutechi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
 </div>
</div>
</main>
<footer class="container mt-5">
  <p class="text-center">&copy; 2024 Artology</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        var lastScrollTop = 0;
        var navbar = $('.navbar'); 
        
        $(window).on('scroll', function() {
            var currentScroll = $(this).scrollTop();
        
            // Scroll Down
            if (currentScroll > lastScrollTop && currentScroll > 70) {
            navbar.addClass('fade-out').removeClass('fade-in');
            } 
            // Scroll Up
            else if (currentScroll > 100){
            navbar.addClass('fade-in').removeClass('fade-out');
            }
        
            // Change navbar opacity on scroll
            if (currentScroll > 120) {
            navbar.addClass('navbar-scrolled');
            } else {
            navbar.removeClass('navbar-scrolled');
            }
        
            lastScrollTop = currentScroll;
        });
    });
</script>
</body>
</html>
