<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top d-flex justify-content-between align-items-center">
    <div class="container-fluid ">
      <div style="padding-left: 20px;">
        <a class="navbar-brand fs-5" href="{{ url_for('index') }} " >
          <img src="../../static/images/logo.png" height="60" style="padding-bottom: 10px" >
          Artology
        </a>
      </div>

      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" aria-modal="true" role="dialog">
        <div class="offcanvas-header align-items-center justify-content-center">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Artology</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3 fs-6">
            <li class="nav-item">
              <a class="nav-link  {{ 'active' if active_page == 'home' else '' }}" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link  {{ 'active' if active_page == 'exhibitions' else '' }}" href="{{ url_for('showExhibitions') }}">Exhibitions</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link  {{ 'active' if active_page == 'artworks' else '' }}" href="{{ url_for('showArtworks') }}">Artworks</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link  {{ 'active' if active_page == 'artists' else '' }}" href="{{ url_for('showArtists') }}">Artists</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('about') }}">About</a>
            </li>

            <li class="nav-item" style="padding-top: 30px;padding-left: 40px;"> 
              <form action="/search" method="GET" class="d-flex ">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-secondary btn-icon-only" type="submit">
                        <i class="fas fa-search btn-icon-only"></i>
                    </button>
                </div>
              </form>
            
            
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>