<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head> 
<body>
    {% if total_pages > 1 %}
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- First Page -->
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
        <a class="page-link" href="?query={{ query }}&page=1&sort_by={{ sort_by }}&order={{ order }}">First</a>
        </li>
        
        <!-- Previous Page -->
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
        <a class="page-link" href="?query={{ query }}&page={{ page - 1 }}&sort_by={{ sort_by }}&order={{ order }}">Previous</a>
        </li>
        
        <!-- Dynamic Page Range with Ellipses -->
        {% set left_range = 4 %}
        {% set right_range = 4 %}
        {% if page > left_range + 1 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% for i in range(page - left_range, page + right_range + 1) %}
        {% if i > 0 and i <= total_pages %}
            <li class="page-item {% if i == page %}active{% endif %}">
            <a class="page-link" href="?query={{ query }}&page={{ i }}&sort_by={{ sort_by }}&order={{ order }}">{{ i }}</a>
            </li>
        {% endif %}
        {% endfor %}
        {% if page < total_pages - left_range %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        
        <!-- Next Page -->
        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
        <a class="page-link" href="?query={{ query }}&page={{ page + 1 }}&sort_by={{ sort_by }}&order={{ order }}">Next</a>
        </li>
        
        <!-- Last Page -->
        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
        <a class="page-link" href="?query={{ query }}&page={{ total_pages }}&sort_by={{ sort_by }}&order={{ order }}">Last</a>
        </li>
    </ul>
    </nav>

    <!-- Direct Page Navigation Form -->
    <div class="pagination-direct-nav">
        <form action="" method="GET">
            <div class="input-group mb-3">
                {% if query %}
                <input type="hidden" name="query" value="{{ query }}">
                {% endif %}
                <input type="number" class="form-control" name="page" placeholder="Page number" aria-label="Page number" min="1" max="{{ total_pages }}">
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <input type="hidden" name="order" value="{{ order }}">
                <button class="btn btn-outline-secondary" type="submit">Go</button>
            </div>
        </form>
    </div>
    {% endif %}
</body>
</html>