<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<br>
<main role="main" class="main-content">
    <div class="mt-5">
        <h2>Search Results for: "{{ request.args.get('query', '') }}"</h2>
        <a>{{ totNum }} Results Found</a>
    </div>

    <!-- Tab Navigation -->
    <ul class="nav row-cols-md-6" id="exhibition-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-tabs font-link active" id="exhibitions-tab" data-bs-toggle="tab" data-bs-target="#exhibitions" type="button" role="tab" aria-controls="exhibitions" aria-selected="true">Exhibitions</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-tabs font-link" id="artists-tab" data-bs-toggle="tab" data-bs-target="#artists" type="button" role="tab" aria-controls="artists" aria-selected="false">Artists</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-tabs font-link" id="artworks-tab" data-bs-toggle="tab" data-bs-target="#artworks" type="button" role="tab" aria-controls="artworks" aria-selected="false">Artworks</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="searchTabsContent">
        <!-- Exhibitions Tab Pane -->
        <div class="tab-pane fade show active" id="exhibitions" role="tabpanel" aria-labelledby="exhibitions-tab">
            {% if results.get('Exhibition') %}
                <div class="row row-cols-3 row-cols-md-4 g-3">
                    {% for exhibition in results['Exhibition'] %}
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <a href="{{ url_for('oneExhibition', exhibition_id=exhibition.id) }}">
                                    <img src="{{ exhibition.image_url }}" class="card-img-top" alt="{{ exhibition.title }}">
                                </a>
                                <div class="card-body">
                                    <ul class="overviewTile list-group list-group-flush">
                                        <p class="list-group-item">{{ exhibition.searchable_text() | highlight(request.args.get('query', '')) | safe }}</p>
                                        <li class="list-group-item"><b>Title:</b> <a href="{{ url_for('oneExhibition', exhibition_id=exhibition.id) }}" class="card-link">{{ exhibition.title }}</a></li>
                                        <li class="list-group-item">
                                            {{ exhibition.aic_start_at.strftime('%B %d, %Y') }} –
                                            {% if exhibition.aic_end_at and exhibition.aic_end_at <= now %}
                                              {{ exhibition.aic_end_at.strftime('%B %d, %Y') }}
                                            {% else %}
                                              Current
                                            {% endif %}
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <div>No Results</div>
                </div>
            {% endif %}
        </div>

        <!-- Artists Tab Pane -->
        <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">
            {% if results.get('Artist') %}
                <div class="row">
                    {% for artist in results['Artist'] %}
                    <div class="col-md-3 mb-3">
                        <div class="card" style= "margin-bottom: 1rem;">
                            <a href="{{url_for('oneArtist', artist_id = artist.id)}}">
                                <img src="https://www.artic.edu/iiif/2/{{artist.artworks[0].image_id}}/full/843,/0/default.jpg" class="card-img-top">                               
                            </a>

                            <div><li class="list-group-item">{{ artist.searchable_text() | highlight(search_query) | safe }}</li></div>

                            <div class="card-body">
                                <b>Name:</b> <a href="{{url_for('oneArtist', artist_id = artist.id)}}" class="card-link">{{artist.title}}</a>
                            </div>
                            <ul class="overviewTile list-group list-group-flush">
                            {% if artist.death_date == None and artist.birth_date == None %}
                            <li class="list-group-item"><b>Years:</b> Unknown </li>
                            {% elif artist.death_date == None %}
                            <li class="list-group-item"><b>Years:</b> {{artist.birth_date}} - Present</li>
                            {% else %}
                            <li class="list-group-item"><b>Years:</b> {{artist.birth_date}} - {{artist.death_date}}</li>
                            {% endif %}
                            <li class="list-group-item"><b>Artworks:</b>
                                {% if artist.artworks|length > 0 %}
                                {{artist.artworks[0].title}}{% if artist.artworks|length > 1 %}, ...{% endif %}
                                {% endif %}
                            </li>
                            <li class="list-group-item"><b>Exhibitions/Collections:</b>
                                {% if artist.exhibitions|length > 0 %}
                                {{artist.exhibitions[0].title}}{% if artist.exhibitions|length > 1 %}, ...{% endif %}
                                {% endif %}
                            </li>
                            </ul>
                            <div class="card-body">
                                <a href="{{url_for('oneArtist', artist_id = artist.id)}}" class="btn btn-primary">More Info</a>
                            </div>
                        </div>                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <div>No Results</div>
                </div>
            {% endif %}
        </div>

        <!-- Artworks Tab Pane -->
        <div class="tab-pane fade" id="artworks" role="tabpanel" aria-labelledby="artworks-tab">
            {% if results.get('Artwork') %}
                <div class="row">
                    {% for artwork in results['Artwork'] %}
                    <div class="col-md-2 mb-3">
                        <div class="card" style= "margin-bottom: 1rem;">
                            <a href = "{{url_for('oneArtwork', artwork_id=artwork.id)}}">
                                <img src="https://www.artic.edu/iiif/2/{{artwork.image_id}}/full/843,/0/default.jpg" class="card-img-top" style="height: 40%;" alt="{{artwork.title}}">
                            </a>
                            <ul class="overviewTile list-group list-group-flush">
                                <div><li class="list-group-item">{{ artwork.searchable_text() | highlight(search_query) | safe }}</li></div>
                                <li class="list-group-item" ><b>Title:</b> <a class=card-link href="{{url_for('oneArtwork', artwork_id=artwork.id)}}">{{artwork.title}}</a></li>
                                <li class="list-group-item"><b>Artwork Type:</b> {{artwork.artwork_type_title}}</li>
                                <li class="list-group-item"><b>Artist:</b> {{artwork.artist_title}}</li>
                                <li class="list-group-item"><b>Created:</b> {{artwork.date_display}}</li>
                                <li class="list-group-item"><b>Medium:</b> {{artwork.medium_display}}</li>
                                <li class="list-group-item"><b>Exhibitions:</b>
                                    {% if artwork.exhibitions|length > 0 %}
                                    {{artwork.exhibitions[0].title}}{% if artwork.exhibitions|length > 1 %}, ...{% endif %}
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="card-body">
                            <a href="{{url_for('oneArtwork', artwork_id=artwork.id)}}" class="btn btn-primary">More Info</a>
                            </div>
                        </div>                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <div>No Results</div>
                </div>
            {% endif %}
        </div>
    </div>
</main>
<footer class="container mt-5">
    <p class="text-center">&copy; 2024 Artology</p>
</footer>
</body>
</html>
